@model DSoft.AgileSprinter.Data.Models.ElmahError

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ElmahError</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Application)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Application)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Host)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Host)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeUtc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeUtc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sequence)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sequence)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AllXml)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AllXml)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ErrorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
