@model IEnumerable<DSoft.AgileSprinter.Data.Models.Users>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NameWithDomain)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FriendlyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Initials)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdsyncLastUpdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdsyncStatus)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameWithDomain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FriendlyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Initials)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdsyncLastUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdsyncStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Name">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Name">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Name">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
