@model DSoft.AgileSprinter.Data.Models.Tasks

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tasks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estimated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estimated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Actual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Actual)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remaining)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remaining)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Roadblocked)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Roadblocked)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SortOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SortOrder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssignedToNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssignedToNavigation.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserStory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserStory.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
